@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body {
    font-family: 'Oswald', sans-serif;
    color: #000;
    background-color: #fff;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrap {
  max-width: 100%;
  margin: 0 auto;
}

/* Clip text element */
.clip-text {
    font-size: 20em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .05em .05em;
    text-align: center;
    /* Color fallback */
    color: #000;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text outer background */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    background-color: #fff;
}

.clip-text_one {
    background-image: url(http://i.giphy.com/10lxU3VLZgEda.gif);
}
